<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UniWorks</title>
    <!-- Link para o CSS do Bootstrap -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  
  <!-- Link para o CSS externo -->
  <link href="/public/css/style.css" rel="stylesheet">
</head>

<body>
  <section>
    <!-- Menu lateral (sidenav) -->
    <div id="mySidenav" class="sidenav">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
      <a href="/turmas">Turmas</a>
      <a href="/cursos">Curso</a>
    </div>

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg">
      <button class="navbar-toggler" type="button" onclick="openNav()">&#9776;</button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/cursos">Curso</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/turmas">Turmas</a>
          </li>
        </ul>
      </div>
      <div class="user-icon"><a class="nav-link" href="/registro"></a></div>
    </nav>
  </section>


  <main class="login-container">
    <h1>Adicionar Aluno</h1>
    <p>Adicione manualmente ou importe um arquivo</p>

    <div class="form-container">
        <form id="regForm">
            <label for="rm">RM:</label>
            <input type="text" id="rm" name="rm" placeholder="Insira o RM">

            <label for="name">Nome completo:</label>
            <input type="text" id="name" name="name" placeholder="Insira o nome completo">

            <button type="submit" class="submit-btn">Cadastrar</button>

            

        </form>
        <form id="anexForm">
          <div class="buttons">
              <button type="submit" class="attach-btn">Anexo</button>
              <hr>
              <label for="arquivo">Selecione um arquivo:</label>
              <input class="submit-btn" type="file" id="arquivo" name="arquivo">
          </div>

        </form>
    </div>
</main>

  <!-- Link para o JS do Bootstrap -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script type = "módulo" src ="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script> 
  <script nomodule  src ="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
  
  <!-- Link para o JS externo -->
  <script src="/public/js/scripts.js"></script>

  <script src="/public/js/requisitions/cadastroAluno.js"></script>
</body>
</html>